#home-menu {
    padding: 10px 10px 10px 0;
}

#home-menu a {
    margin: 20px;
    vertical-align: middle;
}

#home-menu a.active {
    color: #2b4056;
}

#home-menu a:first-child {
    margin-left: 0;
    vertical-align: middle;
}