#products-list {
    max-width: 700px;
}

#products-list td:last-child {
    padding: 0;
}

#products-list td:last-child a {
    display: inline-block;
    height: 30px;
    margin-left: 10%;
    margin-top: 8px;
    text-align: center;
    width: 50px;
}